<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="FileLength">
        <property name="max" value="5000" />
        <property name="fileExtensions" value="java"/>
    </module>

    <module name="LineLength">
        <property name="max" value="160" />
        <property name="ignorePattern" value="@version|@see"/>
        <property name="fileExtensions" value="java"/>
    </module>

    <module name="SuppressWithPlainTextCommentFilter">
        <property name="offCommentFormat" value="CHECKSTYLE:OFF"/>
        <property name="onCommentFormat" value="CHECKSTYLE:ON"/>
    </module>
    <module name="FileTabCharacter"/>
    <module name="TreeWalker">
        <!-- allow usage of CHECKSTYLE:OFF and CHECKSTYLE:ON -->
        <module name="SuppressionCommentFilter"/>
        <module name="MemberName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
        </module>

        <module name="ConstantName">
            <property name="format"
                value="^((log)|(logger)|([a-z][a-zA-Z]*ThreadLocal)|([A-Z][A-Z0-9]*(_[A-Z0-9]+)*))$"/>
        </module>

        <module name="LocalVariableName"/>
        <module name="MethodName"/>
        <module name="LocalFinalVariableName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName">
            <property name="format" value="^[A-Z][a-zA-Z0-9_]*$" />
        </module>

        <module name="AvoidStarImport">
            <property name="excludes" value="java.io,java.net,java.util,jakarta.enterprise.inject.spi,jakarta.enterprise.context"/>
        </module>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports">
            <property name="processJavadoc" value="true"/>
        </module>

        <module name="MethodLength">
            <property name="max" value="400" />
        </module>
        <module name="ParameterNumber">
            <property name="max" value="14" />
        </module>

        <module name="NeedBraces"/>
        <module name="LeftCurly">
            <property name="option" value="nl"/>
        </module>
        <module name="RightCurly">
            <property name="option" value="alone"/>
        </module>

        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="InnerAssignment"/>
        <module name="DefaultComesLast"/>
        <module name="FallThrough"/>
        <module name="MultipleVariableDeclarations"/>

        <module name="com.puppycrawl.tools.checkstyle.checks.design.DesignForExtensionCheck">
            <property name="severity" value="ignore"/>
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck">
            <property name="packageAllowed" value="false"/>
            <property name="protectedAllowed" value="true"/>
            <property name="publicMemberPattern" value="^serialVersionUID"/>
            <property name="severity" value="warning"/>
        </module>

        <module name="UpperEll"/>

        <module name="WhitespaceAround">
            <property name="tokens" value=""/>
        </module>
        <module name="StringLiteralEquality"/>
        <module name="NoFinalizer"/>
        <module name="MissingOverride"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="EqualsAvoidNull"/>
        <module name="DeclarationOrder"/>
        <module name="OneStatementPerLine"/>
        <module name="Indentation"/>
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <module name="RedundantModifier"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="SimplifyBooleanExpression"/>

        <module name="PackageDeclaration">
            <property name="matchDirectoryStructure" value="true"/>
        </module>
    </module>

</module>
